@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  background: rgb(29, 26, 26);
  width: 100%;
  height: 70px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 0px 25px 0px 25px;
  align-items: center;
}

.logo {
  width: 80px;
  height: 70px;
  padding: 1px;
}
.navbar,
.navbar-list {
  display: flex;
  margin: auto;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 100px;
}

.navbar-list {
  gap: 40px;
}

.navbar-list a {
  color: whitesmoke;
  font-size: 13px;
}

.fondo {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(205, 231, 205, 0.8),
      rgba(152, 181, 48, 0.8)
    ),
    url(./img/Fondo1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carrito {
  border: 1px solid whitesmoke;
  padding: 12px 18px;
  border-radius: 10px;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
}

main {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    rgba(205, 231, 205, 0.8),
    rgba(152, 181, 48, 0.8)
  );
}

#hero {
  margin-top: 70px;
  padding: 50px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
}

.hero-info h1 {
  font-size: 38px;
  max-width: 500px;
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;

  min-width: 500px;
  font-weight: 800;
  color: rgba(33, 33, 33, 0.747);
}

.hero-info p {
  font-size: 14px;
  width: 70%;
  color: rgba(34, 31, 31, 0.863);
}

.hero-info p > span {
  font-weight: 800;
}

.hero-button {
  display: flex;
  gap: 25px;
}

.hero-button a {
  border: 3px solid black;
  border-radius: 15px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}
.boton1 {
  background-color: black;
  color: white;
}
.boton2 {
  background-color: white;
  color: black;
}

.hero-card {
  width: 400px;
  background: rgba(93, 95, 62, 0.747);
  color: rgba(236, 235, 235, 0.863);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
}
.hero-card-top {
  display: flex;
  align-content: center;
  justify-content: center;
}
.hero-card-top h3 {
  font-weight: 600;
  font-size: 12px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.informacion-de-pagina {
  padding: 50px 0px;
  height: 300px;
  width: 70%;
  color: rgba(33, 33, 33, 0.747);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: auto;
  align-content: center;
  align-items: center;
}

.informacion-de-pagina img {
  height: 60px;
  width: 80px;
  float: left;
}

.about-us-question h3 {
  width: 80%;
}
.about-us-question p {
  font-size: 14px;
  width: 80%;
}

#cards {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#cards h2 {
  font-size: 32px;
  font-weight: 800;
}

.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(93, 95, 62, 0.747);
  border-radius: 10px;
  gap: 20px;
}

.info-card img {
  width: 40px;
  height: 40px;
}

.info-card h3 {
  font-weight: 600;
  font-size: 18px;
}

.info-card p {
  font-size: 14px;
  font-weight: 300;
  color: #444;
}

footer {
  display: flex;
  color: whitesmoke;
  background: rgb(29, 26, 26);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#footer-contact {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer {
  display: flex;
  width: 100%;
}

.contacto img {
  width: 20px;
  height: 20px;
}

.contact-box {
  width: 400px;
  color: rgba(236, 235, 235, 0.863);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}
